body{font-size:12px;}
form{width:80%; margin:0 auto;}

.ui-tabs-vertical { width: 80%; margin:15px auto; padding:0; display:block;}
.ui-tabs-vertical .ui-tabs-nav { padding: 1em 0 0em 1em; float: left; width: 12em; height:100%; border-top:none; border-bottom:none; border-left:none; background-position: top;}
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; width:100%}
.ui-tabs-vertical .ui-tabs-nav li { display:block; padding:0; overflow:hidden;}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}
.ui-tabs-vertical .ui-tabs-nav .ui-state-active a, .ui-tabs-vertical .ui-tabs-nav .ui-state-hover a {outline: none;} /*borde focus*/

#titulo{ width: 80%; margin:15px auto;}
#titulo span{font-size:2.5em; padding:5px 15px;}

#tabs{min-height:400px;}

form input[type="text"]{padding: .45em 1em; margin: 0; border: 1px solid #ccc; margin-top: .1em;}
form label {padding-right: .5em;}
